amqp==2.5.0
appdirs==1.4.3
asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
Babel==2.6.0
backports.functools-lru-cache==1.5
baostock==0.8.8
beautifulsoup4==4.7.0
billiard==3.6.0.0
bs4==0.0.1
captcha==0.3
celery==4.4.0rc2
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
cheroot==6.5.4
Click==7.0
constantly==15.1.0
cryptography==2.6.1
cssselect==1.0.3
cx-Oracle==7.1.1
cycler==0.10.0
DingtalkChatbot==1.3.0
Django==1.11.6
django-suit==0.2.25
dnspython==1.16.0
eventlet==0.25.0
fake-useragent==0.1.11
Flask==1.0.2
Flask-JWT-Extended==3.15.0
flower==0.9.1
greenlet==0.4.15
gunicorn==19.7.1
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.10
Js2Py==0.60
kiwisolver==1.0.1
kombu==4.6.3
lightpush==0.1.3
lxml==4.3.0
MarkupSafe==1.1.0
matplotlib==3.0.3
monotonic==1.5
more-itertools==6.0.0
Naked==0.1.31
numpy==1.16.2
pandas==0.25.1
parse==1.9.0
parsel==1.5.1
pika==1.1.0
Pillow==5.4.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
pycrypto==2.6.1
pycryptodomex==3.7.3
pyDes==2.0.1
PyDispatcher==2.0.5
pyee==5.0.0
PyExecJS==1.5.1
PyHamcrest==1.9.0
pyjsparser==2.5.2
PyJWT==1.7.1
pymongo==3.7.2
PyMySQL==0.7.11
pyOpenSSL==19.0.0
pyparsing==2.3.1
pyplotify==0.1.5
pyppeteer==0.0.25
pyquery==1.4.0
python-dateutil==2.8.0
pytz==2019.1
pywin32==224
PyYAML==3.12
queuelib==1.5.0
redis==3.3.2
requests==2.4.3
requests-html==0.9.0
rsa==3.4.2
Scrapy==1.6.0
selenium==2.52.0
service-identity==18.1.0
shellescape==3.4.1
six==1.12.0
soupsieve==1.6.2
SQLAlchemy==1.1.15
tornado==4.2
tqdm==4.28.1
Twisted==18.7.0.dev0
tzlocal==1.5.1
urllib3==1.22
vine==1.3.0
w3lib==1.19.0
web.py==0.40.dev1
websockets==7.0
Werkzeug==0.14.1
wrapcache==1.0.8
xlwt==1.3.0
zope.interface==4.6.0
